<template>
  <div class="header">
    <h2>Tienda Online</h2>
  </div>
</template>

<script lang="ts">
import { Vue } from 'vue-class-component';

export default class Header extends Vue {}
</script>

<style lang="scss" scoped>
.header {
  background-color: rgb(12, 10, 88);
  color: white;
  padding: 20px 0;
  text-align: center;
}
</style>
